<table style="width: 100%;">
  <tbody>
    <tr>
      <td><h1>Weather4Me Forecasts</h1>
      </td>
      <td>
        <%= form_tag(weather4_me_forecasts_path, method:'get') do %>
          <label for="q"><b>Location: </b></label>
          <%= text_field_tag :q, params[:q], placeholder:'Location of weather' %>
          <%= submit_tag 'Search', class: 'btn btn-primary' %>
        <% end %>
      </td>
    </tr>
  </tbody>
</table>
<% if @is_cached %>
  <div style="color: #999;">* Cached *</div>
  <br/>
<% end %>
<div id="forecasts_result">
  <%= render partial:'table', locals:{ forecasts: @forecasts } %>
</div>
<br>
<br>
<% if @recent_locations.present? %>
  <h3>Recent Locations</h3>
  <ul>
    <% @recent_locations.each do |location| %>
      <li><%= link_to location.to_s, weather4_me_forecasts_path(q: location.to_s) %></li>
    <% end %>
  </ul>
<% end # @recent_locations %>